.content-area {
  // padding: var(--spacing) 0;
}
.content-icon {
  margin-bottom: 15px;
}

.content-title {
  //   max-width: 825px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content-title p {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.content-inner.size-1 {
  padding: 0;
}
.content-inner.size-1 .content-card {
  background: none;
  box-shadow: none;
}
.content-inner.size-1 .content-text p {
  font-size: 14px;
}
.content-inner {
  padding: 0 100px;
  // padding-top: 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.content-inner-1 .content-card {
  width: calc(33.33% - 30px);
}
.content-inner-2 .content-card {
  width: calc(25% - 30px);
}
.content-inner-3 .content-card {
  width: calc(20% - 30px);
}

.content-card {
  // width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 12px 0 rgba(32, 31, 31, 0.06);
  background-color: var(--white);
  text-align: center;
  padding: 30px 10px;
  transition: 0.3s ease-in-out;
}

.content-card:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.content-card p {
  font-size: var(--sm);
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 1199px) {
  .content-inner {
    gap: 30px;
    justify-content: center;
  }

  .content-inner-1 .content-card {
    width: calc(33.33% - 30px);
  }
  .content-inner-2 .content-card {
    width: calc(33.33% - 30px);
  }
  .content-inner-3 .content-card {
    width: calc(33.33% - 30px);
  }
}
@media only screen and (max-width: 991px) {
  .content-inner {
    padding: 0px 0;
  }
}
@media only screen and (max-width: 767px) {
  .content-area {
    padding: 0;
  }
  .content-inner {
    gap: 10px;
  }
  .content-inner-1 {
    justify-content: center;
  }
  .content-card {
    padding: 10px;
  }
  .content-inner-1 .content-card {
    width: calc(50% - 10px);
  }
  .content-inner-2 .content-card {
    width: calc(50% - 10px);
  }
  .content-inner-3 .content-card {
    width: calc(50% - 10px);
  }
  .content-inner.size-1 .content-text p {
    line-height: 1.1;
    font-size: 12px;
  }
}

@media only screen and (max-width: 479px) {
}
