.hero-section {
  width: 100%;
  z-index: 5;
  color: white;
  overflow: hidden;

  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  overflow: hidden;
}

// .hero-content {
//   padding-top: 235px;
//   padding-bottom: 115px;
//   min-height: 100vh;
// }

.hero-slider {
  height: 100%;
}

.hero-content {
  padding-top: 235px;
  padding-bottom: 130px;
  // min-height: 100vh;
  min-height: calc(100vh - 160px);
}

.slider-item {
  // min-height: 100vh;
  min-height: calc(100vh - 160px);
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-section--project--noimg {
  background-color: black;
  max-height: 400px;
  .hero-content {
    min-height: initial !important;
    // padding: 0 !important;
    padding-bottom: 130px;
    padding-top: 250px;
    // padding: 200px 0;
  }
}
@media only screen and (max-width: 556px) {
  .hero-section--project--noimg {
    background-color: black;
    max-height: initial;
    .hero-content {
      min-height: initial !important;
      // padding: 0 !important;
      padding-bottom: 50px;
      padding-top: 150px;
      // padding: 200px 0;
    }
  }
}
.acf-block-preview {
  .hero-section {
    .slider-item {
      display: none;
      &:nth-child(1) {
        display: block !important;
      }
    }
    .slider-controls-area {
      display: none !important;
    }
  }
}
